# Ignorer les environnements virtuels
env/
# Ignorer les fichiers spécifiques à PyCharm
.idea/

static/css/*.css

static/js/*.js
#DATABASE_URL= postgresql://cooperatives_user:0c3XCq4gBDpLhGApXt8h1Utfgm4RR7pG@dpg-csiu8r68ii6s73crkss0-a.oregon-postgres.render.com/cooperatives
#DATABASE_URL=postgres://postgres:projet2024@localhost:5432/postgres
#CLOUDINARY_URL=cloudinary://746198416357764:ifcRveiUpxk7FaZU4DjZipjIHW8@dwjqeslbf
