{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4"> <!-- Taille ajustée -->
            <h2 class="text-center">Connexion</h2>

            {% for message in messages %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endfor %}

            <form action="{% url 'membres:login' %}" method="post" class="needs-validation" novalidate>
                {% csrf_token %}

                <div class="mb-3 input-group">
                    <span class="input-group-text bg-primary text-white"><i class="bi bi-person-fill"></i></span>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Nom d'utilisateur" required>
                    <div class="invalid-feedback">
                        Veuillez entrer votre nom d'utilisateur.
                    </div>
                </div>

                <div class="mb-3 input-group">
                    <span class="input-group-text bg-primary text-white"><i class="bi bi-lock-fill"></i></span>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required>
                    <div class="invalid-feedback">
                        Veuillez entrer votre mot de passe.
                    </div>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Se connecter</button>
                </div>
            </form>

            <div class="mt-3 text-center">
                <p><a href="{% url 'membres:password_reset' %}">Mot de passe oublié ?</a></p>
                <p>Pas encore de compte ? <a href="{% url 'membres:register' %}">Inscrivez-vous</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
