{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container mt-5">
    <h2>Réinitialiser le mot de passe</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="new_password1" class="form-label">Nouveau mot de passe</label>
            <input type="password" name="new_password1" id="new_password1" class="form-control" placeholder="Entrez un nouveau mot de passe" required>
        </div>
        <div class="mb-3">
            <label for="new_password2" class="form-label">Confirmez le nouveau mot de passe</label>
            <input type="password" name="new_password2" id="new_password2" class="form-control" placeholder="Confirmez le nouveau mot de passe" required>
        </div>
        <button type="submit" class="btn btn-primary">Réinitialiser</button>
    </form>
</div>
{% endblock %}
