{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="container mt-5">
    <h2>Réinitialiser le mot de passe</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="email" class="form-label">Entrez votre adresse e-mail</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Votre adresse email" required>
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </form>
</div>
{% endblock %}
