{% extends 'base.html' %}

{% block title %}Création de Facture{% endblock %}

{% block content %}
    <h1 class="text-center">Facture</h1>

    {% if messages %}
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}

    <hr>
    <h2>Détails de l'article</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Description</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix Unitaire</th>
                <th scope="col">Prix Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ article.nom }}</td>
                <td>{{ article.description }}</td>
                <td>1</td>
                <td>{{ article.prix }} FCFA</td>
                <td>{{ article.prix }} FCFA</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Total à Payer : {{ article.prix }} FCFA</h3>
    <a href="{{ payment_url }}" class="btn btn-primary">Payer</a>
{% endblock %}
