<!-- templates/gestion/production_detail.html -->
{% extends 'base.html' %}

{% block title %}Détail de la Production{% endblock %}

{%load static%}
{% block content %}
<h2>Détail de la Production</h2>
<p><strong>Nom :</strong> {{ production.nom }}</p>
<p><strong>Date :</strong> {{ production.date }}</p>
<p><strong>Quantité :</strong> {{ production.quantite }}</p>
<a href="{% url 'Gestions:production_update' production.pk %}" class="btn btn-primary">Modifier</a>
<a href="{% url 'Gestions:production_list' %}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
