{% extends 'base.html' %}

{% block title %}Détails du Produit{% endblock %}

{% block content %}
<div class="container">
    <h2>{{ produit.nom }}</h2>
    <img src="{{ produit.image.url }}" class="img-fluid" alt="{{ produit.nom }}">
    <p>Prix: {{ produit.prix }} FCFA</p>
    <p>Description: {{ produit.description }}</p>
    <p>Date de Publication: {{ produit.date_publication }}</p>
    <a href="{% url 'produit_update' produit.pk %}" class="btn btn-warning">Modifier</a>
    <form action="{% url 'Gestions:produit_delete' produit.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Supprimer</button>
    </form>
    <a href="{% url 'Gestions:produit_list' %}" class="btn btn-secondary">Retour à la Liste</a>
</div>
{% endblock %}
