{% extends 'base.html' %}

{% load static %}
{% block title %}Support{% endblock %}

{% block content %}
<div class="container py-5">
    <h2 class="text-center mb-4">Support</h2>
    <p class="text-center mb-5">Besoin d’aide ? Veuillez consulter notre FAQ ou nous contacter via la page Contact.</p>

    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Questions fréquentes</h4>
                    <p class="card-text">Consultez notre <a href="{% url 'Gestions:faq' %}" class="text-primary">FAQ</a> pour obtenir des réponses aux questions les plus courantes.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Assistance directe</h4>
                    <p class="card-text">Si vous avez besoin d'une assistance directe, veuillez nous envoyer un message via la <a href="{% url 'Gestions:contact' %}" class="text-primary">page de contact</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
