{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Supprimer le Tutoriel</h2>
    <p class="text-center">Êtes-vous sûr de vouloir supprimer le tutoriel "<strong>{{ tutoriel.titre }}</strong>" ?</p>
    <div class="text-center">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Oui, supprimer</button>
            <a href="{% url 'Gestions:tutoriel_list' %}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}
