{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Modifier le Tutoriel</h2>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success w-100 mt-3">Enregistrer les modifications</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <a href="{% url 'Gestions:tutoriel_list' %}" class="btn btn-secondary">Retour à la liste des tutoriels</a>
    </div>
</div>
{% endblock %}
