{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">{{ tutoriel.titre }}</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <p><strong>Formation :</strong> {{ tutoriel.formation }}</p>
            <p><strong>Contenu :</strong> {{ tutoriel.contenu }}</p>
            {% if tutoriel.fichier_video %}
            <p><a href="{{ tutoriel.fichier_video.url }}" target="_blank" class="btn btn-primary btn-sm">Voir la vidéo</a></p>
            {% endif %}
        </div>
    </div>
    <div class="text-center mt-3">
        <a href="{% url 'Gestions:tutoriel_list' %}" class="btn btn-secondary">Retour à la liste des tutoriels</a>
    </div>
</div>
{% endblock %}
