{% extends 'base.html' %}

{%load static%}
{% block content %}
<div class="container">
    <h2>Récupération du mot de passe</h2>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-primary">Envoyer le lien de réinitialisation</button>
    </form>
    <p>Déjà un compte ? <a href="{% url 'accounts:login' %}">Connectez-vous</a></p>
</div>
{% endblock %}
