{% extends 'base.html' %}

{% block title %}Tableau de bord{% endblock %}

{% block content %}
    <h1>Bienvenue sur votre tableau de bord, {{ user.username }} !</h1>
    <p>Ici, vous pouvez gérer vos produits, consulter les formations et plus encore.</p>
    <!-- Ajoutez des liens vers d'autres sections (productions, ventes, etc.) -->
    <nav></nav>
    <ul>
       <li><a href="{% url 'membres:logout' %}">Se déconnecter</a></li>
       <li><a href="{% url 'membres:liste_membres' %}">Membres</a></li>
        <li><a href="{% url 'productions:liste_productions' %}">Productions</a></li>
        <li><a href="{% url 'ventes:liste_commandes' %}">Ventes</a></li>
        <li><a  href="{% url 'formations:liste_formations' %}">Formations</a></li>
        <li><a href="{% url 'membres:forum' %}">Forum</a></li>
        </ul>
    </nav>
{% endblock %}
